<div class="container-fluid g-0">
  <app-header></app-header>

  <main class="black-border">
    <div class="toolbar">
      <div class="add-employee">
        <!-- data-bs-toggle="modal" és data-bs-target="#exampleModal": ezzel kötjük össze a button-t a modal form-al -->
        <!-- Miután az összekapcsolás megtörtént a Button trigger modal törölhető -->
        <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Add employee</button>

         
      </div>
      <div class="search-employees">
        <input type="search" class="form-control" placeholder="Search Employees">
      </div>
    </div>
    <div class="employees black-border">
      <div class="row mt-5">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are No Employees Added</span>
        </div>
      </div>
    </div>
  </main>
</div>

 <!-- Button trigger modal -->
 <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" #tempButton>
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- a mezőket groupba foglaljuk, ígay könnyebb hivatkozni rájuk -->
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col">
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
            </div>
            <div class="col">
              <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
            </div>
          </div>
          <div class="row mt-5">
            <div class="col form-heading">
              <h6 class="text-secondary fst-italic">Personal information</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="datepicker" class="form-label">Birthdate</label>
              <input type="date" class="form-control" formControlName="birthday" id="datepicker">
            </div>
            <div class="col">
              <div class="row">
                <h6 class="text-secondary">Gender</h6>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="gender" id="male" value="m" formControlName="gender">
                    <label for="male" class="form-check-label">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="gender" id="female" value="f" formControlName="gender">
                    <label for="female" class="form-check-label">Female</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row mt-3">
            <div class="col">
              <select class="form-select" formControlName="education">
                <option value="default" selected>Select your Education</option>
                <option *ngFor="let option of eudcationOptions; let i = index;" value="{{i}}">
                  {{ option | titlecase }}
                </option>
              </select>
            </div>
          </div>
          
          <div class="row mt-3">
            <div class="col">
              <label for="profile" class="form-label">Profile image</label>
              <input type="file" class="form-control" name="profile" id="profile" #fileInput>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col form-heading">
              <h6 class="text-secondary fst-italic">Job information</h6>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Company Name" formControlName="company">
            </div>
          </div>
        
          <div class="row mt-3">
            <div class="col">
              <input type="number" class="form-control" placeholder="Job experience (years)" formControlName="jobExperience">
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="Salary (LPA)" formControlName="salary">
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <!-- data-bs-dismiss="modal" kattintás után bezárja a form-ot is -->
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEmployee()">Insert</button>
      </div>
    </div>
  </div>
</div>